.new-trade {
  background-color: #868fa4;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-trade button {
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 3px solid #010001;
  background-color: #c5cad8;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  margin-right: 1rem;
  text-transform: uppercase;
}

.new-trade button:hover {
  background-color: #062a35;
  border-color: #24af93;
  color: rgb(255, 252, 252);
}
.new-trade button:active {
  background-color: #062a35;
  border-color: #24af93;
  color: rgb(255, 252, 252);
}

.new-trade button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-trade button.alternative:hover,
.new-trade button.alternative:active {
  background-color: #c7cbd8;
}
