.trade-date {
  display: flex;
  flex-direction: row;
  width: 8.5rem;
  height: 3.5rem;
  border: 1px solid #ececec;
  background-color: #010001;
  color: white;
  border-radius: 8px;
  align-items: center;
  justify-content: space-evenly;
}

.trade-date__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.trade-date__year {
  font-size: 0.75rem;
}

.trade-date__day {
  font-size: 0.75rem;
  font-weight: bold;
}
